{{!-- Add Layout --}}
{{!< default}}

<div class="container margin-top">
    <main id="content" class="content" role="main">
        {{#get "posts" limit="5" include="tags,author"}}
            {{#foreach posts}}
                {{> entry}}
            {{/foreach}}
            {{pagination}}
            {{! Adding in script here so the link to the next set of posts works }}
            <script>
                var olderPost = document.getElementsByClassName('older-posts');
                var url = '/page/2';
                if (olderPost[0].getAttribute('href') === '') {
                    olderPost[0].setAttribute('href', url);
                }
            </script>
        {{/get}}
    </main>
</div>